
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-image: linear-gradient(#c3ddc0);
    text-align: center;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header h1{
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 61px;
    background-image: linear-gradient(#88a185);
    background-clip: text;
    color: transparent;
    background-color: #000000;
}

#subtitulo{
    font-family: helvetica;
}

header p, footer p {
    font-size: 1.1rem;
}

.container {
    display: flex;
}

aside {
    background-image: (#a4a4a4);
    width: 18%;
    color: rgb(0, 0, 0);
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

aside h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

aside ul {
    list-style-type: none;
}

aside ul li a{
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    text-align: center;
}

aside ul li a:hover {
    border-radius: 12px;
    background-color: #868686;
}

main {
    width: 80%;
    padding: 2rem;
}

section{
    background-color: whitesmoke ;
    padding: 1.6rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


section h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

section ul {
    list-style-type: disc;
    margin-left: 20px;
}

section li {
    font-size: 1rem;
    margin-bottom: 2px;
}

section li strong {
    color: #333;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

footer {
    margin-top: auto;
}